#walkthru-carousel{:class => 'carousel slide'}
  .carousel-inner
    %div{:class => 'active item'}
      = image_tag('cloud_computing.jpg', :size => '940x390')
      .carousel-caption
        %h4.center We address various aspects of cloud development, cloud adoption by providing professional services
    %div{:class => 'item'}
      = image_tag('mobile_dev.jpg', :size => '940x390')
      .carousel-caption
        %h4.center Our professionals help you in bringing computing and data to your “point of need” in your enterprise business processes
    %div{:class => 'item'}
      = image_tag('big_data.jpg', :size => '940x390')
      .carousel-caption
        %h4.center Most of the industries have data many times, more than what they had a decade ago
    %div{:class => 'item'}
      = image_tag('analytics.jpg', :size => '940x390')
      .carousel-caption
        %h4.center We provide Business Intelligence and Data Warehousing services to enable Industries have access to critical information at the right time in the right format
    %div{:class => 'item'}
      = image_tag('analytics.jpg', :size => '940x390') 
      .carousel-caption
        %h4.center Information Delivery & Analytics experts help your enterprise get agile, adaptable and more efficient reporting
