%li= link_to("Home", root_url)
%li= link_to("Services", services_url)
%li#options{:class => 'dropdown'}
  %a{:class => 'dropdown-toggle', "data-toggle" => 'dropdown', :href => 'options'} 
    About
    %b.caret
  %ul{:class => 'dropdown-menu'}
    %li= link_to("The Company", company_url)
    %li= link_to("The Team", team_url)
    %li= link_to("Careers", careers_url)
%li= link_to("Contact Us", '#contact', "data-toggle" => "modal")
