%li= link_to("Home", root_url, :class => 'btn btn-info btn-large')
%li= link_to("Services", services_url, :class => 'btn btn-info btn-large')
%li= link_to("About us", company_url, :class => 'btn btn-info btn-large')
%li= link_to("Careers", careers_url, :class => 'btn btn-info btn-large')
%li= link_to("Contact Us", '#contact', "data-toggle" => "modal", :class => 'btn btn-info btn-large')
