%li= link_to("Home", root_url, :class => 'btn btn-primary')
%li= link_to("Services", services_url, :class => 'btn btn-primary')
%li= link_to("About us", company_url, :class => 'btn btn-primary')
/%li= link_to("The Team", team_url)
%li= link_to("Careers", careers_url, :class => 'btn btn-primary')
%li= link_to("Contact Us", '#contact', "data-toggle" => "modal", :class => 'btn btn-primary')
