!!!
%html
  %head
    %title Digital Mind Technologies | Big Data | Business Intelligence | Analytics
    = favicon_link_tag
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = csrf_meta_tag
    = javascript_include_tag 'application'
  %body
    .navbar
      .navbar-inner
        .container
          %a{:class => 'brand', :href => root_url}
            = image_tag('logo.png', :size => '400x120')
          %ul{:class => 'nav btn-toolbar'}
            = render 'shared/links'
          .social{:class => 'pull-left'}
            = link_to(image_tag('twitter_logo.png'), 'https://twitter.com/#!/digitalmindtech')
            = link_to(image_tag('facebook_logo.png'), 'http://www.facebook.com/pages/Digital-Mind-Technology/183345741793321')
    .container.main
      .notice-area
        = render 'shared/flashes'
      = yield
    .footer
      %hr
      .center
        %span{:class => 'badge badge-info'} 
          &copy; 2012. Digital Mind Technologies Inc. All rights reserved.
    = render 'shared/contact'

